<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>InColUn</title>
  	<meta name="description" content="Test.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="lib/medium-editor/dist/css/medium-editor.css">
    <script src="lib/medium-editor/dist/js/medium-editor.js"></script>
  </head>
<body> 
<div class="flex-column" style='min-height:100vh;height:100%;' id='app'>
    <header class="flex-row" id='header' style="align-items:center">
      <div>InColUn</div>
      <div class="flex-fill"></div>
	  <div class="search-box">
        <div class="search-container">
            <input type="search" id="search" placeholder="Search...">
			<button class="icon">
                <i class="fa fa-search"></i>
            </button>
	    </div>
	  </div>
      <div style="width:30px;"> 
          <span class="fa-stack">
            <i class="tree-toggle-bgnd fa fa-stack-2x fa-circle"></i>
            <i class="fa fa-stack-1x fa-ellipsis-v"></i>
          </span>      
      </div> 
    </header>
    
    <div class="mainblock flex-row flex-fill" id='app'>
      <div class="sidebar" id='sidebarmenu'></div>
      <div class="flex-fill" style="padding:1em" id='mainpage'>
            Page content
      </div>
    </div>
    <footer id='footer'>Footer</footer>
  </div>  
</body>
    <script src="build/bundle.js"></script>
<!--        <script>
        $(".nano").nanoScroller();
    </script>
    <script>
        $('#sidebarmenu').enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3'
        });        
    </script>-->
</html>