<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InColUn</title>
    <meta name="description" content="Test.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>    
    <link rel="stylesheet" href="login.css">
    <script src="notlogged.js"></script>
</head>

<body>
	
    <div class="flex-column" style='min-height:100vh;height:100%;' id='index'>
        <header class="header-row flex-row" id='header' style="align-items:center; padding:10px;">
            <div>InColUn</div>
            <div class="search-box">
                <div class="search-container">
                    <input type="search" id="search" placeholder="Search...">
                    <button class="icon">
                    	<i class="fa fa-search"></i>
					</button>
                </div>
            </div>
        </header>
        <div class="login-block flex-row flex-fill">
			<% include partials/login.ejs %>
			<% include partials/signup.ejs %>
        </div>    
	</div>
</body>

<script>
</script>

</html>