<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InColUn</title>
    <meta name="description" content="Test.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>    
</head>

<body>
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">InColUn</a>
    <form class="form-inline pull-xs-right">
        <a class="btn btn-success-outline" onclick=showLogin()>Log in</a>
        <a class="btn btn-success-outline" onclick=showSignUp()>Sign Up</a>
    </form>
</nav>

<div class="login_box" id="login_box">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please Log in</h2>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-envelope fa-lg" id="sa-login-email"></i>
                <input type="email" class="form-control" placeholder="Email address" aria-describedby="sa-login-email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-key fa-lg" id="sa-login-pwd"></i>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sa-login-pwd">
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <a class="forgot" href="/account/begin_password_reset">Forgot password?</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div>
                <hr class="omb_hrOr">
                <span class="omb_spanOr">OR</span>
            </div>
        </div>
        <div>
            <div class="form-group">
                <a class="btn btn-block btn-social btn-fbk">
                    <i class="fa fa-facebook"></i> Log in with Facebook
                </a>
            </div>
            <div class="form-group">
                <a class="btn btn-block btn-social btn-google">
                    <i class="fa fa-google"></i> Log in with Google
                </a>
            </div>
        </div>
    </form>
</div>

<div class="signup_box" id="signup_box" style="display:none;">
    <form class="form-signin">
        <h2 class="form-signin-heading">Join InColUn</h2>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-user fa-lg" id="sa-signup-name"></i>
                <input type="email" class="form-control" placeholder="Use Name" aria-describedby="sa-signup-name">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-envelope fa-lg" id="sa-signup-email"></i>
                <input type="email" class="form-control" placeholder="Email address" aria-describedby="sa-signup-email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group input-group-lg">
                <i class="input-group-addon fa fa-key fa-lg" id="sa-signup-pwd"></i>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="sa-signup-pwd">
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div>
                <hr class="omb_hrOr">
                <span class="omb_spanOr">OR</span>
            </div>
        </div>
        <div>
            <div class="form-group">
                <a class="btn btn-block btn-social btn-fbk">
                    <i class="fa fa-facebook"></i> Log in with Facebook
                </a>
            </div>
            <div class="form-group">
                <a class="btn btn-block btn-social btn-google">
                    <i class="fa fa-google"></i> Log in with Google
                </a>
            </div>
        </div>
    </form>
</div>

</body>
<script>
function showLogin()
{
    $('#signup_box').hide();
    $('#login_box').show();
}    
function showSignUp()
{
    $('#signup_box').show();
    $('#login_box').hide();
}    
</script>

</html>