<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>InColUn</title>
  	<meta name="description" content="Test.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
<body>
<div class="flex-fullpage" id='app'>
    <div class="header flex-row" id='header'>
      <div class="flex-grid-cell">InColUn
      </div>
	    <div class="search-box flex-grid-cell flex-right">
		    <div class="search-container">
			    <input type="search" id="search" placeholder="Search...">
			    <button class="icon">
            <i class="fa fa-search"></i>
          </button>
		    </div>
	    </div>
      <div class="flex-grid-cell flex-right" style="width:10px;">
        <i class="fa fa-ellipsis-v"></i>
      </div> 
    </div>
    
    <div class="content flex-row flexbox-item-grow" id='mainarea' style="align-items:stretch">
      <div class="flex-grid-cell" style="padding:1em; color:red; background-color:grey; overflow: auto;width:300px; align-self: stretch" id='sidebarmenu'>
      </div>
      <div class="flex-grid-cell" style="padding:1em; flex:1; align-self: stretch" id='mainpage'>
            Page content
      </div>
    </div>
    
    <div class="footer" id='footer'>
        Footer
    </div>
  </div>  
</body>
    <script src="build/bundle.js"></script></body>
</html>