<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>InColUn</title>
  	<meta name="description" content="Test.">
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
  </head>
<body>
<div class="flex-fullpage">
    <div class="header flex-row">
      <div class="flex-grid-cell">InColUn
      </div>
	    <div class="search-box flex-grid-cell flex-right">
		    <div class="search-container">
			    <input type="search" id="search" placeholder="Search...">
			    <button class="icon">
            <i class="fa fa-search"></i>
          </button>
		    </div>
	    </div>
      <div class="flex-grid-cell flex-right" style="width:10px;">
        <i class="fa fa-ellipsis-v"></i>
      </div> 
    </div>
    
    <div class="content flex-row flexbox-item-grow" id='treemenu'>
      <div style="padding:1em; color:red;overflow: auto;width:300px;">
      hello overflow: auto;
        <ul>
          <li>test menu 1</li>
          <li>test menu 0</li>
          <li>1</li>
          <li>test menu 0</li>
          <li>1</li>


          <li>test menu 0</li>
          <li>1</li>
          <li>1</li><li>test menu 1</li>
          <li>test menu 1</li>
        </ul>        
      </div>
      <div style="padding:1em;" id='content'>
      
      </div>
    </div>
    
    <div class="footer" id='footer'>
        Footer
    </div>
</div>  
</body>
</html>