.omb_loginOr {
  color: #E0DDDD;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  position: relative;
}
.omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.omb_loginOr .omb_spanOr {
  background-color: #72BEED;
  display: block;
  left: 50%;
  margin-left: -1.5em;
  position: absolute;
  text-align: center;
  top: -0.6em;
  width: 3em;
}
.login_box {
  width: 390px;
  margin: 10px auto;
  background-color: #72BEED;
  color: wheat;
  border-radius: 10px;
  padding: 15px;
}
.signup_box {
  width: 390px;
  margin: 10px auto;
  background-color: #72BEED;
  color: wheat;
  border-radius: 10px;
  padding: 15px;
}
.form-signin-heading {
  color: white;
}
.forgot {
  color: #fff !important;
  line-height: 26px;
  float: right;
  padding-top: 3px;
  padding-bottom: 3px;
}
.authError {
  background-color: #FFEBE9;
  border: 1px solid #BD081C;
  color: #333;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}
/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2015 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */
.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-fbk {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk:focus,
.btn-fbk.focus {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk:active,
.btn-fbk.active,
.open > .dropdown-toggle.btn-fbk {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk:active:hover,
.btn-fbk.active:hover,
.open > .dropdown-toggle.btn-fbk:hover,
.btn-fbk:active:focus,
.btn-fbk.active:focus,
.open > .dropdown-toggle.btn-fbk:focus,
.btn-fbk:active.focus,
.btn-fbk.active.focus,
.open > .dropdown-toggle.btn-fbk.focus {
  color: #fff;
  background-color: #23345a;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk:active,
.btn-fbk.active,
.open > .dropdown-toggle.btn-fbk {
  background-image: none;
}
.btn-fbk.disabled:hover,
.btn-fbk[disabled]:hover,
fieldset[disabled] .btn-fbk:hover,
.btn-fbk.disabled:focus,
.btn-fbk[disabled]:focus,
fieldset[disabled] .btn-fbk:focus,
.btn-fbk.disabled.focus,
.btn-fbk[disabled].focus,
fieldset[disabled] .btn-fbk.focus {
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-fbk .badge {
  color: #3b5998;
  background-color: #fff;
}
.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:focus,
.btn-google.focus {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active:hover,
.btn-google.active:hover,
.open > .dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open > .dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open > .dropdown-toggle.btn-google.focus {
  color: #fff;
  background-color: #a32b1c;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  background-image: none;
}
.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google .badge {
  color: #dd4b39;
  background-color: #fff;
}
