@import "../flex.less";

.flex-row
{
    .is-flex;
    flex-direction: row;   
}

.flex-column
{
    .is-flex;
    flex-direction: column;
}


.flex-grid-cell {
    .order(0);
    .flex;
    .align-self(center);
}

.flex-right{
  margin-left: auto;
}

.flex-fullpage
{
    width: 100%;
    height: 100%;

    .flex-column;
}
