@primary-color: #F2F4F5;
@icon-color:#d5d2d5;
@hover-color:#c5c2c5;

.treecontainer{
  border: 1px solid blue;
  width:280px;
  background-color:@primary-color;
  cursor:default;
}

.treeitem-icon{
  padding-right:5px;
}

.tree-toggle{
  position:absolute;
  right:0.6em;
  font-size:0.6em;
  top:0.1em;
  cursor:pointer;
}

.tree-toggle-bgnd{
  color:@icon-color;
  &:hover {color:@hover-color;}
}

.treelist{
  padding-left:1em;
}

.treeheader{
  position: relative;
  padding:2px;
  padding-right:2em;
  font-size:1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {background-color:darken(@hover-color,20%);}
}

