.omb_login {
	.omb_authTitle {
		line-height: 300%;
		text-align: center;
	}
	.omb_socialButtons {
		a {
			color: white;
			&:hover {
				color: white;
				opacity:1;
			}
		}
		.omb_btn-facebook {
			background: #3b5998;
		}
		.omb_btn-twitter {
			background: #00aced;
		}
		.omb_btn-google {
			background: #c32f10;
		}
	}
}
    
@import "bootstrap-social.less";

