.omb_login {
	.omb_authTitle {
		line-height: 300%;
		text-align: center;
	}
	.omb_socialButtons {
		a {
			color: white;
			&:hover {
				color: white;
				opacity:1;
			}
		}
		.omb_btn-facebook {
			background: #3b5998;
		}
		.omb_btn-twitter {
			background: #00aced;
		}
		.omb_btn-google {
			background: #c32f10;
		}
	}
	.omb_loginOr {
		color: #aaaaaa;
		font-size: 1.5em;
		margin-bottom: 1em;
		margin-top: 1em;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		position: relative;
		.omb_hrOr {
			background-color: #cdcdcd;
			height: 1px;
			margin-bottom: 0px !important;
			margin-top: 0px !important;
		}
		.omb_spanOr {
			background-color: white;
			display: block;
			left: 50%;
			margin-left: -1.5em;
			position: absolute;
			text-align: center;
			top: -0.6em;
			width: 3em;
		}
	}
	.omb_loginForm {
		.input-group.i {
			width: 2em;
		}
		.help-block {
			color: red;
		}
	}
}